/*  DEGRADE ORANGE
background: linear-gradient(to bottom, #fceabb 0%,#fccd4d 50%,#fbdf93 100%);
 */

body{
  padding: 0; margin: 0;
  font-size: 0.7rem;

}
/* ######################################### */
/*  ######       PREMIERE LIGNE      ###### */
/* ######################################### */
.genealogie ul {
  padding-top: 20px;
	position: relative;
}

.genealogie li {
  float: left;
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
}

.genealogie ul li a:not(a:first-of-type){
  padding: 3px;
  border: solid 1px orange;
  border-radius: 5px;
  /*background-color: #ffe1a5;*/
  background: linear-gradient(to bottom, #fceabb 0%,#fccd4d 50%,#fbdf93 100%);
}
/* ######################################### */
/*  ###### - FIN - PREMIERE LIGNE    ###### */
/* ######################################### */

/* ######################################### */
/*  ######    DEUXIEME LIGNE         ###### */
/* ######################################### */
.genealogie li::before, .genealogie li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}
.genealogie li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}
/*We need to remove left-right connectors from elements without
any siblings*/
.genealogie li:only-child::after, .genealogie li:only-child::before {
	display: none;
}
/*Remove space from the top of single children*/
.genealogie li:only-child{ padding-top: 0;
}
/*Remove left connector from first child and
right connector from last child*/
.genealogie li:first-child::before, .genealogie li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.genealogie li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
}
.genealogie li:first-child::after{
	border-radius: 5px 0 0 0;
}
/*Time to add downward connectors from parents*/
.genealogie ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.genealogie li a{
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;

	border-radius: 5px;

	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
/* ######################################### */
/*  ######    -FIN- DEUXIEME LIGNE   ###### */
/* ######################################### */

.genealogie ul li a:hover{
  background-color: grey;
  text-decoration: none;
  color: white;
  font-weight: bold;

  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
